.bold {
    font-weight: 700;
}

.green-text {
    color: greenyellow;
}

.red-text {
    color: rgb(255, 96, 96);
}

p,
button {
    /* font-size: 1.02rem; */
    margin: 4px;
}

p,
label,
button {
    font-size: 1.2rem;
}

.but-label button {
    margin-top: 2px;
    margin-bottom: 0px;
}

.but-label {
    margin-bottom: 6px;
    text-align: center;
}

.stats-block {
    display: flex;
    flex-direction: column;
    /* max-width: 50%; */
}

.stats-label {
    display: inline-block;
    /* margin-right: 10px; */
    padding: 3px;
    padding-left: 11px;
    /* width:260px; */
    width: fit-content;
    min-width: 260px;
    box-sizing: border-box;
}

button {
    /* width:260px; */
    width: fit-content;
    min-width: 260px;
    padding: 4px;
    height: fit-content;
    box-sizing: border-box;
}

.but-label {
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    box-sizing: border-box;
}

.but-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-buyable{
    /* background-color: green; */
    color: greenyellow;
    border-color: greenyellow;
}

.button-disabled{
    color: rgb(255, 255, 255);
    border-color: red;
}